<div class="container pt-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="float-left mb-5 text-center"><%= t('.title') %></h1>
      <%= link_to t('defaults.edit'), edit_profiles_path, class: 'btn btn-dark float-right' %>
      <table class="table">
        <tr>
          <th scope="row"><%= User.human_attribute_name(:email) %></th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:name) %></th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:avatar) %></th>
          <td><%= image_tag current_user.avatar.url, class: 'rounded-circle', size: '50x50', alt: "アバター" %></td> 
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs mb-3" data-controller="button">
        <li class="nav-item">
          <%= link_to t('.my_post'), my_post_order_profiles_path, class: "active nav-link text-dark", data: { turbo: true, button_target: 'new', action: 'click->button#new_button' } %>
        </li>
        <li class="nav-item">
          <%= link_to "霊圧", my_reiatu_order_profiles_path, class: "nav-link text-dark", data: { turbo: true, button_target: 'edit', action: 'click->button#edit_button' } %>
        </li>
        <li class="nav-item">
          <%= link_to t('.draft'), my_draft_order_profiles_path, class: "nav-link text-dark", data: { turbo: true, button_target: 'reiatu', action: 'click->button#reiatu_button' } %>
        </li> 
      </ul>
      <%= render 'profiles/profile_order', posts: @myposts %>
    </div>
  </div>
</div>
