<div class="text-center">
  <h1 class="text-4xl font-bold mt-20"><%= t('.title') %></h1>
  <div class="" style="display: flex; justify-content: center;">
    <div class="avatar">
      <div class="w-44 rounded-full">
        <% if @user.avatar&.attached? %>
          <%= image_tag @user.avatar %>
        <% else %>
          <%= image_tag 'logo.png' %>
        <% end %>
      </div>
    </div>
    <div>
      <div class=""><%= t('.name') %> : <%= @user.name %></div>
      <div class=""><%= t('.email' )%> : <%= @user.email %></div>
      <%= link_to '#' do %>
        <button class=""><%= t('.profile_edit_btn') %></button>
      <% end %>
    </div>
  </div>
</div>

