<div class="container pt-3">
  <div class="row">
    <h1 class="text-center">あなたの斬魄刀は...</h1>
    <div class="col-lg-10 offset-lg-1">
      <div class="mt-3 mb-3">
        <p class="fw-bold text-center h2">【始解】<ruby><%= @shikai %><rt><%= @shikai_hurigana if defined?(@shikai_hurigana) %></rt></ruby></p>
        <p class="fw-bold text-center h2">【卍解】<ruby><%= @bankai %><rt><%= @bankai_hurigana if defined?(@bankai_hurigana) %></rt></ruby></p>
      </div>
      <table class="table table-striped mt-3">
        <tr>
          <th>【能力】</th>
          <td><%= @ability %></td>
        </tr>
        <tr>
          <th>【雰囲気】</th>
          <td><%= @atmosphere %></td>
        </tr>
        <tr>
          <th>【卍解の言い方】</th>
          <td><%= @bankai_say %></td>
        </tr>
        <tr>
          <th>【好きな漢字】</th>
          <td><%= @kangi %></td>
        </tr>
        <tr>
          <th>【名言】</th>
          <td><%= @meigen %></td>
        </tr>
      </table>
      <%= link_to '入力ページに戻る', new_ai_post_path %>
    </div>
  </div>
</div>
