<div class="container pt-3">
  <div class="row">
    <h1 class="text-center">あなたの斬魄刀は...</h1>
    <div class="col-lg-10 offset-lg-1">
      <div class="mt-3 mb-3">
        <p class="fw-bold text-center h2">【始解】<ruby><%= @shikai %><rt><%= @shikai_hurigana if defined?(@shikai_hurigana) %></rt></ruby></p>
        <p class="fw-bold text-center h2">【卍解】<ruby><%= @bankai %><rt><%= @bankai_hurigana if defined?(@bankai_hurigana) %></rt></ruby></p>
      </div>
      <table class="table table-striped mt-3">
        <tr>
          <th>【能力】</th>
          <td><%= @ability %></td>
        </tr>
        <tr>
          <th>【雰囲気】</th>
          <td><%= @atmosphere %></td>
        </tr>
        <tr>
          <th>【卍解の言い方】</th>
          <td><%= @bankai_say %></td>
        </tr>
        <tr>
          <th>【好きな漢字】</th>
          <td><%= @kangi %></td>
        </tr>
        <tr>
          <th>【名言】</th>
          <td><%= @meigen %></td>
        </tr>
      </table>
      <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
        <%= link_to "https://twitter.com/share?url=
        #{ root_url }&text=【始解】#{ @post.shikai }#{ @post.shikai_hurigana.present? ? '('+@post.shikai_hurigana+')' : '' }
         %0a#{ '【卍解】'+@post.bankai if @post.bankai.present? }#{ @post.bankai_hurigana.present? ? '('+@post.bankai_hurigana+')' : '' }
         %0a%0a#{@post.detail}
         %0a%23BLEACH%20%20%0a%23BLEACH_anime%20%20%0a%23オリジナル斬魄刀%20%20%0a%23オリジナル斬魄刀投稿サイト%20%0a",
         target: '_blank', class: 'btn btn-dark mt-2' do %>
           Twitterでシェアする
         <% end %>  
         <% if logged_in? %>
         <%= form_with model: @post, url: new_ai_path, method: :get, local: true do |f| %>
           <%= f.hidden_field :shikai %>
           <%= f.hidden_field :shikai_hurigana %>
           <%= f.hidden_field :ability %>
           <%= f.hidden_field :bankai %>
           <%= f.hidden_field :bankai_hurigana %>
           <%= f.hidden_field :detail %>
           <%= f.hidden_field :tag_list %>
           <%= f.submit "内容を保存or編集or投稿する", class: "mt-2 complete-btn btn btn-dark" %>
         <% end %>
       <% end %>
         <%= link_to 'もう一度AIで創る', new_ai_post_path, class: 'mt-2 btn btn-dark' %>
      </div>
         <% unless logged_in? %>
           <p class="text-center mt-2"><%= link_to 'ログイン', login_path %>すると斬魄刀の内容を保存したり投稿、編集したりすることができます。</p>
         <% end %>
    </div>
  </div>
</div>
