<%= turbo_frame_tag "fight-detail-modal", frame: post do %>
  <div class="fight-overlay">
    <div class="fight-modal rounded">
      <div class="fight-modal-content">
        <ul class="list-group list-group-flush">
          <% if post.kaigo.present? %>
            <li class="list-group-item p-0 pb-2 pt-2 d-flex justify-content-between align-items-start">
              <div class="me-auto d-flex align-items-end">
                <div class="fw-bold h6 mb-0 text-nowrap">【解号】</div>
                <ruby class="h6 fw-bold mb-0">
                  <%= post.kaigo %>
                  <rt><%= post.kaigo_hurigana %></rt>
                </ruby>
              </div>
            </li>
          <% end %>
          <li class="list-group-item d-flex p-0 pb-2 pt-2 justify-content-between align-items-start">
            <div class="me-auto d-flex align-items-end">
              <div class="fw-bold h5 mb-0 text-nowrap">【能力】</div>
              <ruby class="h5 fw-bold mb-0">
                <%= post.shikai %>
                <rt><%= post.shikai_hurigana %></rt>
              </ruby>
            </div>
          </li>
          <li class="list-group-item p-0 pb-2 pt-2 d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">【能力】</div>
              <%= simple_format(post.ability) %>
            </div>
          </li>
          <% if post.bankai.present? %>
            <li class="list-group-item d-flex p-0 pb-2 pt-2 justify-content-between align-items-start">
              <div class="me-auto d-flex align-items-end">
                <div class="fw-bold h5 mb-0 text-nowrap">【卍解】</div>
                <ruby class="h5 fw-bold mb-0">
                  <%= post.bankai %>
                  <rt><%= post.bankai_hurigana %></rt>
                </ruby>
              </div>
            </li>
          <% end %>
          <% if post.bankai_ability.present? %>
            <li class="list-group-item p-0 pb-2 pt-2 d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">【卍解の能力】</div>
                <%= simple_format(post.bankai_ability) %>
              </div>
            </li>
          <% end %>
          <% if post.detail.present? %>
            <li class="list-group-item d-flex p-0 pb-2 pt-2 justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">【補足説明】</div>
                <%= simple_format(post.detail) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="d-flex justify-content-end">
        <%= link_to '閉じる', fight_close_path %>
      </div>
    </div>
  </div>
<% end %>
