<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag post.image.url, class: 'card-img-top', size: '171x153' %>
      <% if current_user&.own?(post) %>
        <%= render 'posts/crud_menus', post: post %>
      <% else %>
      <%= image_tag post.user.avatar.url, class: 'rounded-circle', size: '30x30' %>
      <%= post.user.name %>
    <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body p-2 ps-1">
        <% if post.kaigo.present? %>
          <h5 class="mb-1 card-title">
            【<%= t('posts.show.kaigo') %>】
            <ruby>
              <%= post.kaigo %>
              <rt><%= post.kaigo_hurigana %></rt>
            </ruby>
          </h5>
        <% end %>
        <h5 class="card-title mb-1">
          【<%= t('posts.show.shikai') %>】
          <ruby>
            <%= link_to post.shikai, post_path(post) %>
            <rt><%= post.shikai_hurigana %></rt>
          </ruby>
        </h5>
        <p class="card-text mb-1"><small class="txt-limit text-dark"><%= post.ability %></small></p>
        <% if post.bankai.present? %>
          <h5 class="card-title">
            【<%= t('posts.show.bankai') %>】
            <ruby>
              <%= post.bankai %>
              <rt><%= post.bankai_hurigana %></rt>
            </ruby>
          </h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
