<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <div class="post-item-img">
      <%= image_tag post.image.url, class: 'card-img-top', style: 'width: 100%; height: 100%;' %>
      </div>
      <% if current_user&.own?(post) %>
        <%= render 'posts/crud_menus', post: post %>
      <% else %>
        <div style="align-items: center; display: flex;" class="mt-1 ms-2">
      <%= image_tag post.user.avatar.url, class: 'rounded-circle', size: '30x30' %>
      <div class="ms-2"><%= post.user.name %></div>
        </div>
    <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body p-2 ps-1">
        <% if post.kaigo.present? %>
          <h5 class="mb-1 card-title">
            【<%= t('posts.show.kaigo') %>】
            <ruby>
              <%= post.kaigo %>
              <rt><%= post.kaigo_hurigana %></rt>
            </ruby>
          </h5>
        <% end %>
        <h5 class="card-title mb-1">
          【<%= t('posts.show.shikai') %>】
          <ruby>
            <%= link_to post.shikai, post_path(post) %>
            <rt><%= post.shikai_hurigana %></rt>
          </ruby>
        </h5>
        <p class="card-text mb-1"><small class="txt-limit text-dark"><%= post.ability %></small></p>
        <% if post.bankai.present? %>
          <h5 class="card-title">
            【<%= t('posts.show.bankai') %>】
            <ruby>
              <%= post.bankai %>
              <rt><%= post.bankai_hurigana %></rt>
            </ruby>
          </h5>
        <% end %>
        <%= link_to "https://twitter.com/share?url=#{ request.url }&text=【斬魄刀】%0a#{ post.shikai }(#{ post.shikai_hurigana })%0a%0aオリジナル斬魄刀を投稿しました！%0a%23BLEACH%20%20%23BLEACH_anime%20%20%23オリジナル斬魄刀投稿サイト%20", target: '_blank' do %>
          <%= fa_stacked_icon "twitter", base: "square-o", style: 'color: #3399FF;' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
