<div style="position: relative;">
  <%= image_tag 'top_page.webp', class: 'hoge', style: 'width: 100%; z-index: 2;', alt: "トップページ" %>
  <%= image_tag 'top_page_smart.webp', class: 'smart_hoge', style: 'width: 100%; z-index: 2;', alt: "トップページ" %>
  <div style="position: absolute; top: 50%; z-index: 3; left: 50%; transform: translate(-50%, -50%);">
    <h2 class="text-light text-center top-page-title" style="font-family: serif;">オリジナル斬魄刀投稿サイト</h2>
    <p class="text-light text-center top-page-sub-title", style="font-family: serif;">Original Zanpakuto Share Service</p>
    <div class="mt-4 mb-4">
      <p class="text-light text-center top-page-detail", style="font-family: serif;"><%= t('defaults.top_detail') %></p>
    </div>
    <div class="text-center">
      <%= link_to t('defaults.top_button'), new_post_path, class: 'btn btn-light', style: 'font-family: serif;' %>
    </div>
  </div>
</div>
<%= render 'shared/search' %>
<h3 id="post" style="text-align: center;" class="mt-5 mb-3"><%= t('.title') %></h3>
<div class="container pt-3">
<div class="btn-group mb-3" role="group" aria-label="Basic outlined example">
  <%= link_to "新着順", index_new_order_posts_path, class: "active btn btn-outline-dark", id: "js-active-new", type: "button", data: { turbo: true, turbo_method: :get } %>
  <%= link_to "更新順", index_edit_order_posts_path, class: "btn btn-outline-dark", id: "js-active-edit", type: "button", data: { turbo: true, urbo_method: :get } %>
</div>
  <div class="row">
    <div class="col-12">
      <%= render 'posts/index_order', posts: @posts %>
    </div>
  </div>
</div>
