<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h1 class="float-left mb-0"><%= t('.title') %></h1>
      <%= link_to 'この斬魄刀で戦う', fight_select_path(id: @post.id), class: 'btn btn-dark' %>
      </div>
      <div class="flex-wrap d-flex align-items-end justify-content-start">
      <div class="show-img">
        <%= image_tag @post.image.url, class: 'card-img-top', style: 'width: 100%; height: 100%;' %>
      </div>
      <div style="align-items: center; display: flex;" class="mt-3 ms-2 me-4">
        <%= image_tag @post.user.avatar.url, class: 'me-2 rounded-circle', size: '30x30' %>
        <%= @post.user.name %>
      </div>
        <%= render 'posts/twitter_share', post: @post %>
      </div>
      <%= render 'crud_menus', post: @post if current_user&.own?(@post) %>
      <div style="display: flex; justify-content: flex-end; align-items: center;">
      </div>
      <%= render 'posts/tag_list', tag_list: @post.tag_list %>
      <ul class="list-group list-group-flush">
        <% if @post.kaigo.present? %>
          <li class="list-group-item p-0 pb-2 pt-2 d-flex justify-content-between align-items-start">
            <div class="me-auto d-flex align-items-end">
              <div class="fw-bold h6 mb-0 text-nowrap">【<%= t('.kaigo')  %>】</div>
              <ruby class="h6 fw-bold mb-0">
                <%= @post.kaigo %>
                <rt><%= @post.kaigo_hurigana %></rt>
              </ruby>
            </div>
          </li>
        <% end %>
        <li class="list-group-item d-flex p-0 pb-2 pt-2 justify-content-between align-items-start">
          <div class="me-auto d-flex align-items-end">
            <div class="fw-bold h5 mb-0 text-nowrap">【<%= t('.shikai')  %>】</div>
            <ruby class="h5 fw-bold mb-0">
              <%= @post.shikai %>
              <rt><%= @post.shikai_hurigana %></rt>
            </ruby>
          </div>
        </li>
        <li class="list-group-item p-0 pb-2 pt-2 d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">【<%= t('.ability')  %>】</div>
            <%= simple_format(@post.ability) %>
          </div>
        </li>
        <% if @post.bankai.present? %>
          <li class="list-group-item d-flex p-0 pb-2 pt-2 justify-content-between align-items-start">
            <div class="me-auto d-flex align-items-end">
              <div class="fw-bold h5 mb-0 text-nowrap">【<%= t('.bankai')  %>】</div>
              <ruby class="h5 fw-bold mb-0">
                <%= @post.bankai %>
                <rt><%= @post.bankai_hurigana %></rt>
              </ruby>
            </div>
          </li>
        <% end %>
        <% if @post.bankai_ability.present? %>
          <li class="list-group-item p-0 pb-2 pt-2 d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">【<%= t('.bankai_ability')  %>】</div>
              <%= simple_format(@post.bankai_ability) %>
            </div>
          </li>
        <% end %>
        <% if @post.detail.present? %>
          <li class="list-group-item d-flex p-0 pb-2 pt-2 justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">【<%= t('.detail')  %>】</div>
              <%= simple_format(@post.detail) %>
            </div>
          </li>
        <% end %>
      </ul>
        <div class="text-center">
          <% if @post.next.present? && @post.is_draft == false %>
            <%= link_to '前の投稿', post_path(@post.next) %>
          <% end %>
          <% if @post.previous.present? && @post.is_draft == false %>
            <%= link_to '次の投稿', post_path(@post.previous), class: 'ms-2' %>
          <% end %>
        </div>
    </div>
  </div>
</div>
